<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-04-02T13:59:59Z</date>
	<key>WorkspacePath</key>
	<string>/Users/romangergovskij/Desktop/Eltex-dz_3/eltex_dz_7/eltex_dz_7.xcodeproj</string>
</dict>
</plist>
